.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    background-image: radial-gradient(#fc4a1a,#f7b733);
    padding: 10px;
    margin: 10px;
  }
  .grid-item {
    /* background-image: radial-gradient(rgba(9, 97, 24, 0.8),rgb(233, 233, 230)); */
    background-color: #215f00;
    border: 3px solid #f7b733;
    /* padding: 20px; */
    
    text-align: center;
    
  }
  .iconclass{
    font-size: 65px;
    font-weight: bold;
    color: #f17a0b;
  }
  .Ticlogos{
    height: 20px;
    padding: 0 5px;
  }